<%- include('../partials/header') -%>

<div class ="container">
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <% campgrounds.forEach(function(camp){ %>
                <% if(!camp.isApproved && camp.state.toLowerCase() == currentUser.state.toLowerCase()){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                            <img style="height: 300px;" class="photu" src=" <%= camp.image %> ">
                                <div class="caption">
                                    <h3> <%= camp.title %> </h3>
                                </div>
                                <hr style="margin: 3px 3px">
                                <header style="text-align: left; margin-left: 2px; hover: po"><b><%= camp.user.username %></b>-</header>
                                <p style="text-align: left;">
                                    <%= camp.description.substring(0,100) %>...<a href="/admin/<%= camp._id %>">More Info>></a>
                                </p>
                        </div>
                    </div>
            <% } }); %>
        </div>
    </div>
    
<%- include('../partials/footer') -%>  