<!DOCTYPE html>
<html>
<head>
	<title>ScamDetection</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<meta name="viewport" content="width=device-width, initial=scale=1"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/2.7.0/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/toxicity@1.2.2"></script>
</head>
<body>
	
	<nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" >scaMDetection<i class="searchengin icon"></i> </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul id="home" class="nav navbar-nav navbar-left">
                        <% if(currentUser){ %>
                        <li id="mb" class="mb home"> <a href="/profiles/<%= currentUser._id %>"><strong><%= currentUser.username %></strong> </a> </li>
                        <% }%>
                        
                        <li class="home"> <a href="/posts">Home</a> </li>
                        <% if(currentUser && currentUser.isAdmin){ %>
                            <li class="home"><a href="/admin">Admin</a></li>
                        <% } %>
                        <div class="vl"></div>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        
                        <%if(!currentUser){%>
                            <li class="home"> <a href="/login">Login</a> </li>
                            <li class="home"> <a href="/register">Sign up</a> </li>
                            <% } else{ %>
                                    
                                    <li id="lp" class="lp home"> <a href="/profiles/<%= currentUser._id %>"><strong><%= currentUser.username %></strong> </a> </li>
                                    <li class="home"> <a href="/logout">Logout</a> </li>
                           <% } %>
                    </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <%  if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %>
        <%  if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert"><%= success %></div>
         <% } %>
    </div>
    