<%- include('../partials/header') -%>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <div class="thumbnail">
                <img class="img-responsive" src= "<%= campground.image %> ">
                <div class="caption">
                    <h4 class="pull-right"><%= campground.city %>, <%= campground.state.toUpperCase() %></h4>
                    <h3> <a><%= campground.title%></a> </h3>
                    <p> <%= campground.description%> </p>
                    <p><em> Posted by <strong><%= campground.user.username%></strong> </em></p>
                </div>
            </div>
        </div>
        <!--<div class="col-md-3 col-xs-12">-->
            
        <!--</div>-->
    </div>
</div>

<%- include('../partials/footer') -%>