<%- include('../partials/header') -%>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Edit <%= campground.title %></h1>
        <div id="dabba" class="dabba">
            <form action="/posts/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text"  name="campground[title]" value="<%=campground.title%>">
                </div>
                <div class="form-group">
                    <input style="margin-bottom: 3px;" class="form-control" type="text"  name="campground[image]" value="<%=campground.image%>">
                    <input  type = "file" name="imgdevice" accept="image/*">
                </div>
                <div class="form-group">
                    <label>LOCATION</label>
                    <input  class="form-control lcn" type="text" value="<%=campground.state%>" name="campground[state]">
                    <input class="form-control" type="text" value="<%=campground.city%>" name="campground[city]">
                </div>
                <div class="form-group">
                    <textarea class="form-control"  name="campground[description]"><%=campground.description%></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('../partials/footer') -%>