<%- include('../partials/header') -%>
    
    <div class ="container-fluid">
        <header class="jumbotron">
            <div class="container">
                <h1>Scam Detection!</h1>
                <p>Lets filter out all the fake news and scams together.</p>
                    <p>
                        <a class="btn btn-primary" href="/posts/new">Add post for review</a>
                    </p>
                
                <p>
                    <form action="/posts" method="GET" class="form-inline">
                        <div class="form-group">
                            <input class="form-control" type="text" name="search" placeholder="search for your state" >
                            <button class="btn btn-success">Go!</button> 
                        </div> 
                    </form>
                </p>
            </div>
        </header>
    </div>
        <div class="container-fluid">
            <div class="row text-center" style="display: flex; flex-wrap: wrap;">
                <% campgrounds.forEach(function(camp){ %>
                    <% if(camp.isApproved){ %>
                        <div class="col-md-3 col-sm-12">
                                
                            <div class="thumbnail">
                                <img style="height: 300px;" class="photu" src=" <%= camp.image %> ">
                                <div class="caption">
                                    <h3> <%= camp.title %> </h3>
                                </div>
                                <hr style="margin: 3px 3px">
                                <header style="text-align: left; margin-left: 2px; hover: po"><b><%= camp.user.username %></b>-</header>
                                <hr style="margin-right: 65%; margin-top: 1px; margin-bottom: 3px;">
                                <p style="text-align: left;">
                                    <%= camp.description.substring(0,110) %>...<a href="/posts/<%= camp._id %>">More Info>></a>
                                </p>
                            </div>
                        </div>
                <% } }); %>
            </div>
        </div>
    
        

<%- include('../partials/footer') -%>
