<%- include('../partials/header') -%>



<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <% if(campground.comments.length==0){ %>
                    <h1 style="text-align: center;">NO COMMENTS YET!!</h1>
            <% } else{ %>
                    <% campground.comments.forEach(function(comment){ %>
                            <strong><%=comment.user.username%></strong>
                            <% if(currentUser && comment.user.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>    
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-warning" href="/posts/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                    <form id="delete" action="/posts/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                </div>
                            <% }%>
                            <p> 
                                <%=comment.text%>
                            </p>
                            <hr id="hrr">
                <% });} %>
                <div class="text-center">
                    <a class="btn btn-success" href="/posts/<%= campground._id %>/comments/new ">Add New Comment</a>
                </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') -%>