<%- include('../partials/header') -%>

<div class="container-fluid">
    <% var sortedCampgrounds = campgrounds.slice().sort((a, b) => b.created.getTime() - a.created.getTime()); var x= []; %>
    <% sortedCampgrounds.forEach(function(camp){ %>
    <%  if(network.run(camp.title)=="International"){ x.push(camp.title);};})%>
    <% if(x.length === 0){ %>
    <div style="text-align: center;" class="ui huge header">No news yet</div>
    <% }else{ %>
    <div style="text-align: center; margin-bottom: 20px;" class="ui huge header">World</div>
    <hr>
            <div class="row text-center" style="display: flex; flex-wrap: wrap;">
               
                <% var sortedCampgrounds = campgrounds.slice().sort((a, b) => b.created.getTime() - a.created.getTime()) %>
                <% sortedCampgrounds.forEach(function(camp){ %>
                <% if(network.run(camp.title).toLowerCase() =="international"){ %>
                    <% if(camp.isApproved){ %>
                    
                        <div class="col-md-3 col-sm-12">
                            <div class="thumbnail">
                                <img style="height: 300px;" class="photu" src=" <%= camp.image %> ">
                                <span style="font-size: x-small;" class="pull-right"><em><%=camp.city.charAt(0).toUpperCase() + camp.city.slice(1) %></em></span>
                                <div class="caption">
                                   <h3><%= camp.title %></h3>
                                </div>
                                <% if(camp.isScam){ %><header style="background: red; color: black; padding: 3px 3px;"><i class="exclamation triangle icon"></i> scaMDetected</header> <% } %>
                                <hr style="margin: 3px 0">
                                <% var dateUTc = new Date(camp.created); %>
                                <% var dateUTC = dateUTc.getTime(); %>
                                <% var dateIST = new Date(dateUTC); %>
                                <% dateIST.setHours(dateIST.getHours() + 5); %> 
                                <% dateIST.setMinutes(dateIST.getMinutes() + 30); %>
                                <% var tarik = dateIST.toUTCString(); %>
                                     
                                <header style="text-align: left; margin-left: 2px; float "><b><a><%= camp.user.username %></a></b><span style="font-size: small;" class="pull-right"><em><%= tarik.substring(0,16) %></em></span></header>
                                
                                <%if(camp.description){ %> <hr style="margin: 3px 0"> <% }%>
                                <section>
                                    <div class="post">
                                        <%=camp.description.substring(0,120)%><% if(camp.description.length > 120){ %><span class="dots">...</span><span class="more"><%=camp.description.substring(120)%></span>
                                        <button style="background:none; padding-left: 0;" class="read">Read More</button><% } %>
                                    </div>
                                </section>
                                <hr style="margin: 3px 0 6px 0;">
                                <form style="margin: 5px 0;" class="form-group" action="/posts/ <%= camp._id %>/comments" method="POST">
                                    <div style="margin: 0;" class="form-group">
                                        <input style="border: none; outline: none; width: 70%; float: left; height: 20px;" class="form-" type="text" placeholder="Add a comment.." name="comment[text]" required>
                                        <button style="background: none; border: none; outline: none; padding-top: 0; line-height: 100%; color: #e6cbd4; width: 30%; padding-right: 2px; text-align: right;" class="btn btn-sm btn-success">POST</button>
                                    </div>
                                </form>
                                <hr style="margin: 6px 0 3px 0;">
                                <a style="background: none; border: none; border-radius: 0px; padding-left: 0;  color: #dfdcdb;" class="btn btn-primary btn-block" href="/posts/<%= camp._id %>"><b>View all Comments</b></a>
                                
                            </div>
                        </div>
                            
                <% } } });} %>
            </div>
        </div>
<script>
    $(document).ready(function(){
       $(".read").click(function(){
           $(this).prev().toggle();
           $(this).siblings('.dots').toggle();
           if($(this).text()=='Read More'){
               $(this).text('Read Less');
           }else{
                $(this).text('Read More');  
           }
       }); 
    });
</script>
        
<%- include('../partials/footer') -%>